NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_CRM_URL=http://localhost:3001/login
NEXT_PUBLIC_ALLOW_MOCK_PAYMENT=true
NEXT_PUBLIC_SUPPORT_EMAIL=hello@amaravisa.com
NEXT_PUBLIC_SUPPORT_PHONE=+91-80-0000-0000
NEXT_PUBLIC_SUPPORT_WHATSAPP=https://wa.me/918000000000
